/* 
 *	Site design for http://razor-studios.co.uk/
 *	by Samuel Clements of http://borntyping.co.uk/
 *	
 *	IE only styles.
 */
 
#iehackbox {
	margin:0px 10%;
	padding:0px 3px 3px;
	background:#666;
	border:3px solid #AAA;
	border-top:0px;
}

#main {
	margin:0px;
	background-color:#FFF;
	position:relative;
}