/* 
 * Theme design for http://razor-studios.co.uk/
 * by Samuel Clements of http://borntyping.co.uk/
 * &copy; 2010
 *
 * Small screens / handhelds css
 * Tabs at 2 spaces
 */

body { font-family:"Arial",sans-serif; font-size:0.8em; }
body, h1, h2, h3, h4, h5, p {
	margin:0px; padding:0px;
}

#header {
	font-size:1.1em;
	display:block;
	background:#222222;
	text-align:center;
	text-decoration:none;
	color:#DDD;
}

#nav { text-align:center; border-bottom:1px solid #222222; }
#nav a {
	font-size:0.9em;
	text-decoration:none;
	padding-right:3px;
}
#nav a:after { content: "-"; color:black; padding-left:3px;}
#nav a:last-child:after { content: ""; }

.homepage-gallery { display:none; }
.item { padding:5px; }
#footer { text-align:center; font-size:0.9em; border:1px solid #222222; border-left:none; border-right:none; }
p#token-att { display:none; }